<div>
  <h1 class="title">
    Hi there!
  </h1>
  <p class="subtitle">
    Congratulations, you have just started your recruitment test.
  </p>

  <ul>
    <li>
      <a href="/bacon"> Bacon factory</a>
    </li>

    <li>
      <a href="/checkout"> Checkout Form</a>
    </li>
  </ul>
</div>
