<div>
  <h1 class="title">
    Hi there!
  </h1>
  <p class="subtitle">
    Thank You for the test and looking forward to hearing from you.
    Check out my solutions below.
  </p>
  <ul>
    <li>
      <a href="/bacon"> Bacon factory</a>
    </li>

    <li>
      <a href="/checkout"> Checkout Form</a>
    </li>
  </ul>
</div>
