button[type="button"] {
  color: rgb(184, 80, 48);
  background-color: rgb(151, 233, 253);
  border: rgb(184, 80, 48) 2px solid;
  border-radius: 10px;
  font-size: 20px;
  min-width: 250px;
  min-height: 30px;
  margin-top: 30px;
  margin-bottom: 5px;
  padding: 10px;
}
section:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section:first-child img {
  border-radius: 5px;
  max-width: 250px;
  max-height: 300px;
  object-fit: cover;
}
section:last-child {
  margin-top: 40px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
