@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,700&display=swap");

// ----------------- Variables --------------

$regular: 400;
$medium: 500;
$bold: 700;
$black: 900;

// ------------------- Mixins ----------------

@mixin border-rounded-shadow-bottom {
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px rgba(0, 0, 0, 0.1);
}
@mixin flex-between {
  display: flex;
  justify-content: space-between;
}

// ---------------- Form Section ----------------

.checkout_container {
  position: absolute;
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 70vw;
  column-gap: 5rem;
  max-height: 90vh;
}
.checkout_form {
  width: 100%;
}

.checkout_form__title {
  margin: 10px;
  display: flex;
  position: relative;
  left: -10px;
}

.checkout_form__title_number {
  position: absolute;
  top: -2px;
  left: -22px;
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
  span {
    position: relative;
    top: -1px;
    left: 4px;
    font-size: 18px;
    color: white;
  }
}
.checkout_form__title_text {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: $medium;
  margin-left: 5px;
}
.checkout_form__title_icon {
  margin-top: 0.1rem;
  margin-left: 1rem;
  height: 0.9rem;
  width: 0.9rem;
}
#creditCard {
  background-image: url(../../public/images/visa.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
#CVV {
  background-image: url(../../public/images/rounded-question-mark.png);
  background-size: 1.5rem;
  background-repeat: no-repeat;
  background-position: 95%;
}
#cart_icon {
  position: relative;
  top: 3px;
  height: 1rem;
  width: 1rem;
  background-color: rgb(78, 212, 25);
}
.checkout_form__inline_inputs_wrappper {
  @include flex-between;
  div {
    width: 47%;
  }
}
.checkout_form__input_wrapper {
  margin-bottom: 20px;
}
.checkout_container input,
.checkout_container select {
  padding-top: 10px;
  height: 40px;
  width: 100%;
  padding-left: 10px;
  @include border-rounded-shadow-bottom;
  &::placeholder {
    position: relative;
  }
}
.checkout_container select {
  padding-top: 15px;
  height: 54px;
}
.checkout_container label {
  top: 18px;
  position: relative;
  font-size: 12px;
  font-weight: $bold;
  padding-left: 10px;
  display: block;
}
.checkout_form__submit_button {
  z-index: 1;
  background-color: rgb(78, 212, 25);
  color: white;
  font-weight: $black;
  width: calc(100% + 20px);
  @include border-rounded-shadow-bottom;
  height: 60px;
  margin-top: 3rem;
  cursor: pointer;
}

#hidden_invalid_feedback {
  display: none;
}
.is_invalid {
  display: block !important;
  color: red;
  font-size: 10px;
  position: absolute;
  padding-top: 6px;
}

// ------------------ Cart Section -----------------

.cart {
  background-color: white;
  position: relative;
  border-radius: 5px;
  box-shadow: 0px 2px rgba(0, 0, 0, 0.1);
  top: 3rem;
  height: 40%;
  width: 100%;
  padding: 5px 5px 30px 5px;
}
.cart__container {
  position: relative;
  height: 100%;
  border: 1px rgba(0, 0, 0, 0.1) dotted;
  padding: 10px;
}
.cart__title {
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 1rem;
}
.cart__item_container,
.cart__product_summary,
.cart__product_tax {
  @include flex-between;
  font-size: 13px;
  margin-bottom: 1rem;
  font-weight: $medium;
}
.cart__product_summary {
  padding-top: 1.5rem;
  border-top: 1px rgba(0, 0, 0, 0.1) dotted;
}
.cart__product_tax {
  padding-bottom: 1.5rem;
  border-bottom: 1px rgba(0, 0, 0, 0.1) dotted;
}
.cart__total {
  @include flex-between;
  margin-top: 1.5rem;
  &_text {
    font-weight: $bold;
  }
  &_price {
    font-weight: $black;
    font-size: 24px;
  }
}

// --------- responsiveness  --------------

@media only screen and (max-width: 950px) {
  .checkout_container {
    display: flex;
    flex-direction: column;
    column-gap: 3rem;
  }
  .checkout_form__inline_inputs_wrappper {
    flex-direction: column;
    div {
      width: 100%;
    }
  }
}
