.order_error_message_container {
  text-align: center;
  border: 4px black solid;
  border-radius: 20px;
  padding: 30px;
  background-color: white;
  color: red;
}

.order_success_message {
  color: green;
  text-align: center;
}
