@layout('layouts/main')
@set('title', 'Order failed')
@section('body')
<div class="order_error_message_container">
<h1 class="order_error_message_title">Ooooopss!!</h1>
<p class="order_error_message_text">Something went wrong! Please check if you enter correct data and try again</p>
</div>
@end